body {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --background-secondary-darker: #232323;
    --background-elements: #333333;
    --background-elements-darker: #2c2c2c;
}
.info-box {
    background-color: var(--background-elements-darker);

}

body {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-primary);
}

.table, .content-header {
    color: #858796!important;
}
.nav-link {
    color: #858796!important;

}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    color: #858796;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
    color: #fff;
    background-color: #5a5c69;
    border-color: #6c6e7e;
}

.table .thead-light th {
    color: #9394a8;
    background-color: #eaecf4;
    border-color: #e3e6f0;
}

.table-dark, .bg-white {
    color: #fff;
    background-color: #5a5c69;
    
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #6c6e7e;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

.form-control,
.custom-select,
.form-control-navbar
.custom-file-label {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements);
    border: 1px solid var(--background-elements);
}

.form-control:focus {
    color: rgba(255, 255, 255, 0.95);
    background-color: #363636;
}

.form-control:focus,
.custom-select:focus,
.custom-file-input:focus ~ .custom-file-label {
    border-color: #747d99;
    box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #747d99;
}

.form-control::placeholder,
.form-control-plaintext,
.form-check-input:disabled ~ .form-check-label {
    color: #858796;
}

.form-control:disabled, .form-control[readonly],
.custom-select:disabled,
.custom-file-input:disabled ~ .custom-file-label {
    background-color: #383838;
}

select.form-control:focus::-ms-value {
    color: #6e707e;
    background-color: #fff;
}

.input-group-text,
.custom-file-label::after {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements-darker);
    border: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #4e73df;
    background-color: #4e73df;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: var(--background-elements);
    border-color: var(--background-elements);
}

.custom-control-input:disabled ~ .custom-control-label {
    color: #858796;
}

.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #eaecf4;
}

.custom-control-label::before {
    background-color: #808080;
    border: #b7b9cc solid 1px;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #4e73df;
    background-color: #4e73df;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before,
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(78, 115, 223, 0.5);
}

.custom-switch .custom-control-label::after {
    background-color: #fff;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #fff;
}

.custom-range:focus::-webkit-slider-thumb,
.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.custom-range::-webkit-slider-thumb,
.custom-range::-moz-range-thumb,
.custom-range::-ms-thumb {
    background-color: #4e73df;
}

.custom-range::-webkit-slider-thumb:active,
.custom-range::-ms-thumb:active,
.custom-range::-moz-range-thumb:active {
    background-color: #e5ebfa;
}

.custom-range::-webkit-slider-runnable-track,
.custom-range::-moz-range-track,
.custom-range::-ms-fill-lower,
.custom-range::-ms-fill-upper {
    background-color: #dddfeb;
}

.custom-range:disabled::-webkit-slider-thumb,
.custom-range:disabled::-moz-range-thumb,
.custom-range:disabled::-ms-thumb {
    background-color: #b7b9cc;
}

.dropdown-menu {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements);
    border: 1px solid var(--background-elements)
}

.dropdown-divider {
    border-top: 1px solid #878787;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: var(--background-secondary-darker);
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: var(--background-secondary-darker);
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #858796;
}

.dropdown-header {
    color: #858796;
}

.dropdown-item-text {
    color: #3a3b45;
}

.nav-link.disabled {
    color: #858796;
}

.nav-tabs {
    border-bottom: 1px solid #dddfeb;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #eaecf4 #eaecf4 #dddfeb;
}

.nav-tabs .nav-link.disabled {
    color: #858796;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #9394a8;
    background-color: #fff;
    border-color: #dddfeb #dddfeb #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #4e73df;
}

.card, .main-sidebar, .callout, .bg-light, .bg-white  {
    background-color: #1e1e1e!important;
    border-color: #1e1e1e!important;
}
.nav-item .active   {
    color: #FFF!important;
}


.card-header {
    background-color: rgba(100, 100, 100, 0.25);
    border-bottom-color: #505050;
}

.card-footer {
    background-color: rgba(100, 100, 100, 0.25);
    border-top: 1px solid #505050;
}

.breadcrumb {
    background-color: #ced0d7;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #858796;
}

.breadcrumb-item.active {
    color: #858796;
}

.page-link {
    color: #4e73df;
    background-color: var(--background-elements);
    border: 1px solid #62646f;
}

.page-link:hover {
    color: #224abe;
    background-color: var(--background-elements);
    border-color: #62646f;
}

.page-link:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.page-item.active .page-link {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

.page-item.disabled .page-link {
    color: #858796;
    background-color: var(--background-elements);
    border-color: #62646f;
}

.progress {
    background-color: var(--background-elements);
}

.progress-bar {
    color: #fff;
    background-color: #4e73df;
}

.list-group-item {
    
    background-color: var(--background-elements);
    border-color: #62646f;
}


.close {
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.close:hover {
    color: #000;
}

.toast {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.toast-header {
    color: #858796;
    background-color: rgba(255, 255, 255, 0.85);
}

.modal-content {
    background-color: var(--background-elements);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
    background-color: #000;
}

.text-gray-900 {
    color: #3a3b45 !important;
}

.dropdown .dropdown-menu .dropdown-header {
    color: #b7b9cc;
}

.topbar #sidebarToggleTop:hover {
    background-color: #eaecf4;
}

.topbar #sidebarToggleTop:active {
    background-color: #dddfeb;
}

.topbar .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    color: #fff;
}

.topbar .dropdown-list .dropdown-item {
    border: none;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    border: 0.125rem solid #fff;
}

.topbar .dropdown-list .dropdown-item:active {
    background-color: var(--background-secondary-darker);
    color: rgba(255, 255, 255, 0.9);
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}
pre {
    color: pink!important;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #b7b9cc;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: #858796;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header,
.sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    color: #b7b9cc;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    color: #858796;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: var(--background-elements);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
    background-color: var(--background-elements-darker);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #4e73df;
}

.card .card-header[data-toggle="collapse"]::after {
    color: #d1d3e2;
}

.card .card {
    background: #232323;
    border: solid 1px rgba(255, 255, 255, 0.4);
}

.content-wrapper {
    background: var(--background-primary);
}

#accordionSidebar {
    background: #272727;
}

.navbar-nav .collapse-inner {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements) !important;
}

.navbar {
    background: #252525 !important;
}
footer {
    background: #252525 !important;
}

h1.text-gray-800 {
    color: rgba(255, 255, 255, 0.8) !important;
}

.card .h5.text-gray-800 {
    color: rgba(255, 255, 255, 0.8) !important;
}

.date-picker {
    background: var(--background-elements) !important;
}
/*
SELECT2
 */
.select2-container .select2-selection--single {
    background-color: var(--background-elements);
    border: 1px solid var(--background-primary);
    border-radius: 4px;
    height: 37px !important; }
.select2-container .select2-selection--single .select2-selection__rendered {
    color: #999;
    line-height: 42px;
    font-size: 14px; }
.select2-container .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #999; }
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: 2px;
    position: absolute;
    top: 50%;
    width: 0; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto; }

.select2-container.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default; }
.select2-container.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px; }

.select2-container .select2-selection--multiple {
    background-color: var(--background-elements);
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text; }
.select2-container .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
.select2-container .select2-selection--multiple .select2-selection__rendered li {
    list-style: none; }
.select2-container .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
.select2-container .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: var(--background-primary);
    border: 1px solid var(--background-elements);
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: var(--background-elements);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333; }

.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right; }

.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto; }

.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto; }

.select2-container.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0; }

.select2-container.select2-container--disabled .select2-selection--multiple {
    background-color: var(--background-elements);
    cursor: default; }

.select2-container.select2-container--disabled .select2-selection__choice__remove {
    display: none; }

.select2-container.select2-container--open.select2-container--above .select2-selection--single, .select2-container.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.select2-container.select2-container--open.select2-container--below .select2-selection--single, .select2-container.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

.select2-container .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa; }

.select2-container .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield; }

.select2-container .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto; }

.select2-container .select2-results__option[role=group] {
    padding: 0; }

.select2-container .select2-results__option[aria-disabled=true] {
    color: #999; }

.select2-container .select2-results__option[aria-selected=true] {
    background-color: #ddd; }

.select2-container .select2-results__option .select2-results__option {
    padding-left: 1em; }
.select2-container .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
.select2-container .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
.select2-container .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em; }
.select2-container .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em; }
.select2-container .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em; }
.select2-container .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em; }

.select2-container .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white; }

.select2-container .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px; }