* {
    box-sizing: border-box;
  }
  
  html, body {
    font-family: sans-serif;
  }
  
  .spotlight {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spotlight.active {
    opacity: 1;
    pointer-events: auto;
    transition: .3s;
  }
  
  .spotlight-bar {
    position: relative;
    width: 350px;
    background: #FFF;
    border-radius: 5px;
    padding: 5px;
  }
  
  .spotlight-bar input {
    width: 100%;
    padding: 10px;
  }
  
  .spotlight-suggestions {
    position: absolute;
    top: 100%;
    background: #FFF;
    left: 0;
    right: 0;
    margin: -5px 0 0 0;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .spotlight-suggestions li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .spotlight-suggestions a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: inherit;
  }
  
  .spotlight-suggestions li.active a,
  .spotlight-suggestions a:hover {
    background: rgba(0,0,0, .1);
  }
  
  .spotlight-suggestions mark {
    background-color: #000;
    color: #FFF;
  }
  