.card.card-large-icons .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 150px;
    border-radius: 3px 0 0 3px;
}
.shop-banner {
    display: inherit;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 2%;
}

.card.card-large-icons {
    display: flex;
    flex-direction: row;
}

.article {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.article .article-header {
    height: 170px;
    position: relative;
    overflow: hidden;
}

.article .article-header .article-image {
    background-color: #fbfbfb;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.article .article-header .article-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 98%, rgba(0, 0, 0, 0.65) 100%);
    padding: 10px;
}

.article .article-header .article-title h2 {
    font-size: 16px;
    line-height: 24px;
}

.article .article-header .article-title h2 a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
.article .article-details {
    background: var(--gray-dark);
    padding: 20px;
    line-height: 24px;
}

.article .article-details .article-cta {
    text-align: center;
}

.article .article-header .article-badge {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.article .article-header .article-badge .article-badge-item {
    padding: 7px 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    font-size: 12px;
}

.article .article-header .article-badge .article-badge-item .ion, .article .article-header .article-badge .article-badge-item .fas, .article .article-header .article-badge .article-badge-item .far, .article .article-header .article-badge .article-badge-item .fab, .article .article-header .article-badge .article-badge-item .fal {
    margin-right: 3px;
}

.article.article-style-b .article-details .article-title {
    margin-bottom: 10px;
}

.article.article-style-b .article-details .article-title h2 {
    line-height: 22px;
}

.article.article-style-b .article-details .article-title a {
    font-size: 16px;
    font-weight: 600;
}

.article.article-style-b .article-details p {
    color: #34395e;
}

.article.article-style-b .article-details .article-cta {
    text-align: right;
}

.article.article-style-c .article-header {
    height: 233px;
}

.article.article-style-c .article-details .article-category {
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #34395e;
}

.article.article-style-c .article-details .article-category a {
    font-size: 10px;
    color: #34395e;
    font-weight: 700;
}

.article.article-style-c .article-details .article-title {
    margin-bottom: 10px;
}

.article.article-style-c .article-details .article-title h2 {
    line-height: 22px;
}

.article.article-style-c .article-details .article-title a {
    font-size: 16px;
    font-weight: 600;
}

.article.article-style-c .article-details p {
    color: #34395e;
}

.article.article-style-c .article-user {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.article.article-style-c .article-user img {
    border-radius: 50%;
    float: left;
    width: 45px;
    margin-right: 15px;
}

.article.article-style-c .article-user .user-detail-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article.article-style-c .article-user .user-detail-name a {
    font-weight: 700;
}

@media (max-width: 575.98px) {
    .article .article-style-c .article-header {
        height: 225px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .article {
        margin-bottom: 40px;
    }

    .article .article-header {
        height: 195px !important;
    }

    .article.article-style-c .article-header {
        height: 155px;
    }
}

@media (max-width: 1024px) {
    .article.article-style-c .article-header {
        height: 216px;
    }

    .article .article-header {
        height: 155px;
    }
}


/* 1.37 Activities */
.invoice {
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    padding: 40px;
}

.invoice .invoice-title .invoice-number {
    float: right;
    font-size: 20px;
    font-weight: 700;
    margin-top: -45px;
}

.invoice hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top-color: #f9f9f9;
}

.invoice .invoice-detail-item {
    margin-bottom: 15px;
}

.invoice .invoice-detail-item .invoice-detail-name {
    letter-spacing: .3px;
    color: #98a6ad;
    margin-bottom: 4px;
}

.invoice .invoice-detail-item .invoice-detail-value {
    font-size: 18px;
    color: #34395e;
    font-weight: 700;
}

.invoice .invoice-detail-item .invoice-detail-value.invoice-detail-value-lg {
    font-size: 24px;
}

.card.card-large-icons .card-icon .ion,
.card.card-large-icons .card-icon .fas,
.card.card-large-icons .card-icon .far,
.card.card-large-icons .card-icon .fab,
.card.card-large-icons .card-icon .fal {
    font-size: 60px;
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .home .card-icon  {
        display: none !important;
    }
}
@media(max-width: 1200px){
    .home .card-large-icons {
        margin-top: 30px;
    }
}
@media(max-width: 500px){
    .card.card-large-icons {
        display:block;
    }
    .card-icon, .imagecheck  {
        width:100%!important;
        padding: 25px;
    }

}
.imagecheck .card-body {
    font-weight: 800;
}
.hero {
    border-radius: 3px;
    padding: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

/* 1.36 Activities */
.activities {
    display: flex;
    flex-wrap: wrap;
}

.activities .activity {
    width: 100%;
    display: flex;
    position: relative;
}

.activities .activity:before {
    content: ' ';
    position: absolute;
    left: 25px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #268b92;
}

.activities .activity:last-child:before {
    display: none;
}

.activities .activity .activity-icon {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    z-index: 1;
}

.activities .activity .activity-detail {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: var(--primary);
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    position: relative;
    padding: 15px;
}

.empty-state {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.activities .activity .activity-detail:before {
    content: '\f0d9';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    left: -8px;
    color: #fff;
}

.activities .activity .activity-detail h4 {
    font-size: 18px;
    color: #191d21;
}

.activities .activity .activity-detail p {
    margin-bottom: 0;
}

.tickets .ticket-content {
    width: 70%;
}

.tickets .ticket-description {
    color: #6c7293;
    font-weight: 500;
    margin-top: 30px;
    line-height: 28px;
}

.tickets {
    display: flex;
}

.tickets .ticket-content .ticket-header .ticket-sender-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.tickets .ticket-content .ticket-header .ticket-detail .ticket-info {
    display: flex;
    letter-spacing: .3px;
    font-size: 12px;
    font-weight: 500;
    color: #34395e;
}

.imagecheck {

    margin: 0;
    position: relative;
    cursor: pointer;
}

.imagecheck-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.imagecheck-input:checked ~ .imagecheck-figure:before {
    opacity: 1;
}

.imagecheck-figure:before {
    content: '';
    position: absolute;
    top: .25rem;
    left: .25rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--primary) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%;
    color: #fff;
    z-index: 1;
    border-radius: 3px;
    opacity: 0;
    transition: .3s opacity;
}
.boostrapv5 .imagecheck-figure:before  {
    background: var(--bs-primary) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%;

}

.tickets .ticket-content .ticket-header .ticket-detail .ticket-info .bullet {
    margin: 0 10px;
}

.tickets .ticket-content .ticket-header {
    display: flex;
}

.bullet {
    display: block;
}
#guirlande {
    width: 100%;
    height: 120px;
    background: var(--success);
}

#guirlande1 {
    z-index: 9;
    position: absolute;
    background: url("/global/guirlande1.png") 300% top repeat-x;
    height: 130px;
    width: 100%;
}

#guirlande2 {
    z-index: 8;
    position: absolute;
    background: url("/global/guirlande2.png") 70% top repeat-x;
    height: 130px;
    width: 100%;
}

#guirlande3 {
    z-index: 7;
    position: absolute;
    background: url("/global/guirlande3.png") 10% top repeat-x;
    width: 100%;
}